@import '../colors.module'

.carousel
  display: 'flex' !important
  align-items: 'center' !important
  justify-content: 'center' !important
  flex-direction: 'column' !important
  width: '100%' !important
  position: 'relative' !important

.circle 
  height: 530px
  width: 530px
  border: 1px solid rgba(66, 86, 122, 0.2)
  border-radius: 100%
  display: flex
  align-items: center
  justify-content: center
  position: relative
  left: 5%
  top: 10%
  z-index: 1000

  @media (max-width: 480px)
    display: none

.dot
  position: fixed
  height: 6px
  width: 6px
  border-radius: 50%
  background-color: $BlackBlue
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  color: $BlackBlue
  font-family: 'PT Sans'
  font-size: 20px
  font-weight: normal
  z-index: 1000

  .number
    display: none
  .title
    display: block
    position: absolute
    opacity: 0

  &_active
    height: 56px
    width: 56px
    background: $White
    border: 1px solid #303E5880

    .number
      display: block
    .title
      opacity: 1
      display: block
      font-weight: bold
      transform: translateX(76px)
      // right: -20px

.text
  z-index: 10
  display: flex
  min-width: 973px
  position: absolute
  font-family: "PT Sans"
  font-size: 200px
  font-style: normal
  font-weight: 700
  line-height: 80%
  letter-spacing: -4px
  justify-content: space-between
  margin-left: 7%

  @media (max-width: 480px)
    font-size: 56px
    line-height: normal
    letter-spacing: -1.12px
    width: 90vw
    margin: 0
    min-width: 0
    bottom: 50%
    max-width: 270px

  &_left
    color: $Iris100
  &_right
    color: $Fuschia100

.control_container
  width: 120px
  height: 88px
  display: flex
  flex-direction: column
  gap: 20px
  // top: 0
  align-self: flex-start
  margin-left: 78px
  // position: absolute
  @media (max-width: 480px)
    width: 59px
    height: 49px
    margin: 0
    position: absolute
    bottom: 49px
    gap: 7px
  
  &_pagination
    color: $BlackBlue
    font-family: "PT Sans"
    font-size: 14px
    font-style: normal
    font-weight: 400
    line-height: normal

  &_buttons
    display: flex
    gap: 20px
    cursor: pointer
    
    @media (max-width: 480px)
      gap: 8px
    

  &_control_button
    width: 50px
    height: 50px
    border-radius: 50%
    border: 1px solid $BlackBlue

    @media (max-width: 480px)
      width: 25px
      height: 25px
      // scale: 50%
      display: flex
      align-items: center

.line
  height: 1px
  border-top: 1px solid rgba(66, 86, 122, 0.1)
  width: 100vw
  position: absolute
  top: 52.7%

  @media (max-width: 480px)
    top: 14vh
    border-bottom: 1px solid rgba(66, 86, 122, 0.1)

.line_vertical
  width: 1px
  border-right: 1px solid rgba(66, 86, 122, 0.1)
  height: 100vh
  position: absolute
  left: 55%

  @media (max-width: 480px)
    display: none

.desktop
  @media (max-width: 480px)
    display: none

.mobile
  @media (min-width: 481px)
    display: none